# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

#Carpetas
/app
/next
/components
/hooks
/lib
/styles
/files
/scripts

# config extra
API_DOCUMENTATION.md
components.json


# typescript
*.tsbuildinfo
next-env.d.ts
tailwind.config.ts
# next
next-config.msj
package-lock.json
pnpm-lock.yalm
postcss.config.msj

# uploads - archivos subidos por usuarios
/uploads
